.ql-editor {
  height: 18em; /* Set the height */
  max-height: 18em; /* Set the maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: white;
  color: #000;
}

.ql-editor {
  min-height: 18em;
  overflow: auto;
}

.themeSwitcher {
  margin-top: 0.5em;
  font-size: small;
}
