@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: white;
  background: black;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.otp-style-input {
  margin: 0 0.8rem;
  height: 60px;
  width: 12% !important;
  border-radius: 6px;
  border: 0px;
  background: transparent;
  box-shadow: 0px 0px 10px rgba(250, 249, 249, 0.25);
  font-size: 20px;
  border-color: white;
}

.otp-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ql-editor {
  height: 18em; /* Set the height */
  max-height: 18em; /* Set the maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: white;
  color: #000;
}

.ql-editor {
  min-height: 18em;
  overflow: auto;
}

.themeSwitcher {
  margin-top: 0.5em;
  font-size: small;
}

::-webkit-scrollbar-thumb {
  background: rgb(69, 89, 221, 255);
  border-radius: 10px;
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(69, 89, 221, 255);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
